# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/__pycache__
/.vscode
/node_modules
/client/node_modules
/.pnp
.pnp.js

# testing
/coverage
spotify_officialplaylists.csv

# production
# /build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
spotify_dataset

npm-debug.log*
yarn-debug.log*
yarn-error.log*
